# Caddyfile for Marki-parse

# Redirect HTTP to HTTPS
http:// {
   redir https://{host}{uri}
}

# Serve the Parse Dashboard
parse-dashboard.marki-parse.localhost {
    reverse_proxy parse-dashboard:4040
}

# Serve the Parse Server
api.marki-parse.localhost {
    reverse_proxy parse-server:1337
}

# Serve the static files
marki.localhost {
    root * /usr/share/caddy
    file_server
}

dev.markidiags.com:5000 {
    root * /usr/share/caddy
    file_server
}

dev.parse.markidiags.com {
    reverse_proxy parse-server:1337
    header Access-Control-Allow-Origin "https://dev.markidiags.com:5000"
    header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Authorization"
    header Access-Control-Allow-Credentials "true"
}

dev.parse.dashboard.markidiags.com:4040 {
    reverse_proxy parse-dashboard:4040
}