# Caddyfile for Marki-parse

# Redirect HTTP to HTTPS
http:// {
   redir https://{host}{uri}
}

# Serve the Parse Dashboard
parse-dashboard.marki-parse.localhost {
    reverse_proxy parse-dashboard:4040
}

# Serve the Parse Server
api.marki-parse.localhost {
    reverse_proxy parse-server:1337
}

# Serve the static files
marki.localhost {
    root * /usr/share/caddy
    file_server
}

# Allow access via IP address for local network
:80 {
    redir https://{host}{uri}
}

:443 {
    root * /usr/share/caddy
    file_server
}

dev.markidiags.com:5000 {
    root * /usr/share/caddy
    file_server
}

dev.parse.markidiags.com {
    reverse_proxy parse-server:1337 {
        header_up Host {host}
        # Don't remove CORS headers from Parse Server
        # Let Parse Server handle its own CORS headers
    }

}

dev.parse.dashboard.markidiags.com:4040 {
    reverse_proxy parse-dashboard:4040
}