version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: 
      MONGO_INITDB_ROOT_PASSWORD: 
    command: mongod --noauth

  parse-server:
    image: parseplatform/parse-server:latest
    container_name: parse-server
    restart: always
    ports:
      - "1337:1337"
    depends_on:
      - mongodb
    environment:
      PARSE_SERVER_APPLICATION_ID: "marki"
      PARSE_SERVER_REST_API_KEY: "Careless7-Gore4-Guileless0-Jogger5-Clubbed9"
      PARSE_SERVER_JAVASCRIPT_KEY: "Careless7-Gore4-Guileless0-Jogger5-Clubbed9"
      PARSE_SERVER_MOUNT_PATH: "/"
      PARSE_SERVER_ALLOW_CLIENT_CLASS_CREATION: "true"
      PARSE_SERVER_ENABLE_ANONYMOUS_USERS: "true"
      PARSE_SERVER_MASTER_KEY_IPS: "0.0.0.0/0,::0"
      PARSE_SERVER_LOG_LEVEL: "info"  # ou "verbose" pour plus de détails
      JSON_LOGS: "false"  # Désactive les logs au format JSON (plus lisible)
      VERBOSE: "true"  # Active le mode verbeux
      SILENT: "false"  # Désactive le mode silencieux
      PARSE_SERVER_DATABASE_URI: "mongodb://mongodb:27017/parse"
      PARSE_SERVER_MASTER_KEY: "Shaky4-Exception6"
      PARSE_SERVER_CLOUD: "/parse-server/cloud/main.js"
    volumes:
      - ./parse-server/cloud:/parse-server/cloud
      - ./parse-server/public:/parse-server/public

  parse-dashboard:
    image: parseplatform/parse-dashboard:latest
    container_name: parse-dashboard
    restart: always
    ports:
      - "4040:4040"
    environment:
      PARSE_DASHBOARD_SERVER_URL: "http://localhost:1337/"
      PARSE_DASHBOARD_APP_ID: "marki"
      PARSE_DASHBOARD_MASTER_KEY: "Shaky4-Exception6"
      PARSE_DASHBOARD_USER_ID: "admin"
      PARSE_DASHBOARD_USER_PASSWORD: "admin"
      PARSE_DASHBOARD_ALLOW_INSECURE_HTTP: "1"

volumes:
  mongodb_data:
